body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0px; /* 상단 배치 */
}

.square {
    width: 7px;
    height: 30px;
    background-color: rgb(128, 128, 128);
    float: left;
    margin-right: 5px;
    margin-top: 25px;
}

.register-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}

.register-container h1.header {
    font-size: 30px;
    color: rgb(68, 69, 74);
    text-align: left;
    margin-bottom: 10px;
}

.register-container p {
    text-align: left;
    margin-top: 10px;
    color: gray;
    font-size: 18px;
}

.info-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.info-title {
    font-size: 18px;
    color: blue;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.info-title::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 3px solid blue;
    margin-right: 5px;
    border-width: 6px; 
}

.required-note {
    color: orange;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 120px;
}

.styled-hr {
    border: none;
    width: 92%;
    height: 5px;
    background-color: blue;
    margin-bottom: 25px;
}

.form-border {
    border: 1px solid #ccc;
    padding: 10px;
}

.register-table {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid #000;  
}

.register-table th, .register-table td {
    padding: 7px;
    vertical-align: middle;
    height: 5px;
}

.register-table th, .register-table td {
    border-top: 1px solid #000; 
    border-bottom: 1px solid #000; 
    border-left: 1px solid rgb(128, 128, 128); 
    border-right: 1px solid rgb(128, 128, 128); 
}

.register-table th:first-child, .register-table td:first-child {
    border-left: 1px solid #ccc; 
}

.register-table th:last-child, .register-table td:last-child {
    border-right: 1px solid #ccc; 
}

.register-table label {
    width: 100px; 
    display: inline-block; 
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap;
    color: rgb(78, 77, 83);
}

.register-table .required {
    color: orange;
    margin-right: 5px;
}

.register-table input[type="text"],
.register-table input[type="password"],
.register-table input[type="email"] {
    width: 260px;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.register-table .input-group {
    display: flex;
    align-items: center;
}

.register-table .input-group input[type="text"] {
    width: 260px;
    margin-right: 5px;
}

.register-table .input-group button {
    font-size: 18px;
    width: 100px;
    height: 32px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: -5px;
    margin-right: -120px;
}

.register-table .input-group button:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.register-button {
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 100px;
    max-width: 200px;
}

.register-button:hover {
    background-color: #0056b3;
}

.register-container p.error {
    color: red;
    text-align: center;
}
